
        <span class="w3-xxlarge">Contents</span><br />
        <a href="#program1"><span class="w3-left">1. FFT of Rectangular Pulse</span><span class="w3-right">1</span></a><br />
        <a href="#program2"><span class="w3-left">2. FFT of Sum of Two Sine Waves</span><span class="w3-right">5</span></a><br />
        <a href="#program3"><span class="w3-left">3. Convolution of Two Exponentials</span><span class="w3-right">9</span></a><br />
        <a href="#program4"><span class="w3-left">4. Magnitude and Phase of Rectangular Pulse</span><span class="w3-right">12</span></a><br />
        <a href="#program5"><span class="w3-left">5. Convolution of Rectangular Pulses</span><span class="w3-right">15</span></a><br />
        <a href="#program6"><span class="w3-left">6. Modulation and Demodulation of ASK, PSK and FSK</span><span class="w3-right">19</span></a><br />
        <a href="#program7"><span class="w3-left">7. Spectrum of Complex Envelope</span><span class="w3-right">29</span></a><br />
        <a href="#program8"><span class="w3-left">8. Two-Sided Spectrum from Complex Envelope</span><span class="w3-right">32</span></a><br />
        <a href="#program9"><span class="w3-left">9. Amplitude spectram of PM having pair of sinusodal signals</span><span class="w3-right">35</span></a><br />
        <a href="#program10"><span class="w3-left">10. AM modulation and demodulation</span><span class="w3-right">38</span></a><br />
      </article>
